.App {
	font-family: 'Montserrat', sans-serif;
	background-color: #FFFCF9;
	width: 100%;
}

/* .mapWrapper {
	height: 800px;
	width: 800px;
	overflow: hidden;
} */
#map {
	width: 800px;
	height: 800px;
}
.map {
	height: 400px;
	width: 500px;
	overflow: hidden;
}

.navbar {
	background-color: #776EBA !important;
	color: #E9E9E9;
	/* display: flex;
  	flex-direction: row;
  	justify-content: space-between; */
	width: 100%;
}
.navbar-brand {
	color: #E9E9E9;
	font-family: 'Comfortaa', cursive;
}
.navbar img{
	height: 2.5em;
}

h1, h2{
	padding: .5em;
}

.building-photo img {
	width: 10em;
	padding: .5em;
}

.card {
	margin: 1em;
	box-shadow: 2px 2px 4px #00275945;
}

.card-content {
	display: flex;
	flex-direction: row;
}

.card-text {
	padding: .5em;
	min-width: 215px;
}

.card-text button{
	background-color: #c7ed7e;
	border: none;
	color: #002659;
	text-transform: uppercase;
	font-weight: 700;
}

.card-text p {
	margin-bottom: .5em;
}

.card-button {
	display: flex;
	justify-content: flex-end;
	bottom: .5em;
	position: absolute;
	min-width: 200px;
}

